<header>
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="toggle()">
      <mat-icon class="account">menu</mat-icon>
    </button>
    <span><a routerLink="/"><button class="logo">Ikeo Planificator App</button></a></span>
    <span class="spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with account_circle icon">
      <mat-icon class="account">account_circle</mat-icon>
    </button>
  </mat-toolbar>
</header>
