<div style="display: flex; flex-direction: row; min-height: 80vh; text-align: center; overflow: scroll">
    @for (column of planificatorService.sigPlanifiedDay().tours; track column; let i = $index) {
      <div class="column" style="min-width: 20vw; width: 100%;">
        <mat-card [ngClass]="{'elevated-card-even': i%2 === 0, 'elevated-card-odd': i%2 !=0}">
          <mat-card-header style="justify-content: center">
            <mat-card-title>Tournée {{i + 1}}</mat-card-title>
          </mat-card-header>
          <mat-card-content style="padding: 0">
            <mat-divider></mat-divider>
            <div style="margin-right: 5em">
              <app-accordion-deliverymen [deliveryTourIndex]="i"
                                         [mode]="'display'">
              </app-accordion-deliverymen>
            </div>
            <mat-divider></mat-divider>
            <div style="margin-right: 5em">
              <app-accordion-truck [deliveryTourIndex]="i"
                                   [mode]="'display'">
              </app-accordion-truck>
            </div>
            <mat-divider></mat-divider>
            @for (delivery of column.deliveries; track delivery; let delindex = $index) {
              <mat-card style="font-size: small" [ngClass]="{'elevated-card-even2': delindex%2 === 0, 'elevated-card-odd2': delindex%2 !=0}">
                <mat-card-header style="padding-top: 5px">
                  <mat-card-title style="font-size: medium"><b>Livraison {{delindex + 1}}</b></mat-card-title>
                </mat-card-header>
                <mat-card-content style="text-align: start; padding-bottom: 5px">
                  <p><b>Commandes :</b> {{ delivery.orders.join(', ') }} </p>
                  <p><b>Adresse :</b>{{ delivery.address }}</p>
                </mat-card-content>
              </mat-card>
            }
          </mat-card-content>
        </mat-card>
      </div>
    }
</div>
