<div style="display: flex; flex-direction: row; min-height: 80vh; text-align: center">
  <div style="margin: auto; min-width: 10vw" class="column">
    <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="planificatorService.addTour()">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add"></mat-icon>
    </button>
  </div>
  <div cdkDropListGroup style="display: flex; flex-direction: row; min-height: 80vh; text-align: center">
    @for (column of planificatorService.sigPlanifiedDay().tours; track column; let i = $index) {
      <div class="column" style="min-width: 20vw; width: 100%;" cdkDropList [cdkDropListData]="column.deliveries"
      (cdkDropListDropped)="moveDelivery($event)">
        <mat-card [ngClass]="{'elevated-card-even': i%2 === 0, 'elevated-card-odd': i%2 !=0}">
          <mat-card-header style="justify-content: center; padding-right: 0">
            <mat-card-title>Tournée {{i + 1}}</mat-card-title>
            <span style="margin-left: auto; margin-right: 15px">
                    <button mat-mini-fab (click)="openDialog('0ms', '0ms', i)" style="border-radius: 5px; height: 2em; width: 2em;" color="primary">
                      <mat-icon fontIcon="delete"></mat-icon>
                    </button>
                  </span>
          </mat-card-header>
          <mat-card-content style="padding: 0">
            <mat-divider style="color: white; background: white"></mat-divider>
            <app-accordion-deliverymen [deliveryTourIndex]="i"
                                       [mode]="'edit'">
            </app-accordion-deliverymen>
            <mat-divider style="background: white"></mat-divider>
            <app-accordion-truck [deliveryTourIndex]="i"
                                 [mode]="'edit'">
            </app-accordion-truck>
            <mat-divider style="background: white"></mat-divider>
            @for (delivery of column.deliveries; track delivery) {
              <div cdkDrag cdkDragPreviewContainer="parent">{{delivery.orders.join(', ')}}
                <div *cdkDragPlaceholder></div></div>
            }
          </mat-card-content>
        </mat-card>
      </div>
    }
  </div>
</div>
<div style="text-align: center; margin-top: auto; margin-bottom: 0">
  <a [routerLink]="['/day-previewer']"><button [disabled]="isValidDay()">Prévisualiser</button></a>
</div>
